@import "./uikit.scss";
@import "../layouts/base.scss";
@import "../styles/elements.scss";
@import "../styles/media.scss";

// Components

@import '../components/header/header.scss';
@import '../components/footer/footer.scss';
@import '../components/site-nav/site-nav.scss';
@import '../components/contacts/contacts.scss';
@import '../components/slider/slider.scss';


$primary: rgb(143, 59, 3);
$secondary: rgb(26, 162, 167);

body {
    font-family: 'Open Sans', sans-serif;
}

.hello-world {
    color: $primary;
    font-family: 'Monsterrat', sans-serif;
}

.lorem {
    color: $secondary;
    font-family: Arial, Helvetica, sans-serif;
} 

h1{
    color: $secondary
}